@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./assets/fonts/Gilroy.ttf) format('truetype');
}


html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

.borderdText {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: .5px !important;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5) !important;
}

@keyframes noz {
  from {}

  to {}
}